extends layout 
block content 
    h1 #{titel}
    .showimageHis
        p a 
        p a
        p a 
        p a
        p a
        p a
        p a
        p a
        p a
        p a
        p a
        p a
        p a
        p a
        p a
        p a
        p a
        p a
        p p 

    